body {
	background: url(../images/pawprints.jpg);
}

.jumbotron {
  position: relative;
  background-color: black;
  border: solid 2px white;
  margin: 15px;
  color: white;
  text-shadow: 0 3px gray;
}

/* Breed buttons */
.puppyButton {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 5px 10px lightcoral;
  margin: 5px;
}
.puppyButton:hover {
  background-color: lightcoral;
}

/* "Add a Breed" */
.inputBreed {
  font-size: 15px;
  color: black;
  margin: 20px 5px;
}

/* Text box to add a button */
#breed-input {
  width: 200px;
  margin-left: 15px;
}

/* Submit button */
#add-breed {
  margin-top: 15px;
  margin-left: 15px;
  padding: 5px 45px;
  background-color: black;
  color: white;
  border: 2px solid white;
}
